*{
    padding: 6px;
    margin: 10px;
	font-family: Arial,Helvetica,sans-serif;
}

body{
	background: url('../image/commentbeijing2.jpg')  no-repeat fixed;
	background-size:100% 100%;
	
}

#main{
	border:0px
	position:absolute;
	top:15%;
	left:38.5%;
	
}

.comment{
	border:0px
	position:absolute;
	top:15%;
	left:38.5%;
	
}