	
	*{
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
		font-family: Arial,Helvetica,sans-serif;margin: 0 auto;
	}
	
	body {
		background-color: #FFCCCC;
		height: 100%;
		zoom: 1.0;
		width: 100%;
	}
	
	.head {
		background-position:24%;
		width: 68%;
		height: 77.5%;
		overflow: hidden;
		position: absolute;
		left: 16%;
		right: 16%;
		top: 0%;
	}
	
	.head-img{
		width: 100%;
		height: 100%;
		z-index: 20;
	}
	a { text-decoration:none;}
	ul, li { 
	list-style:none;
	float:left;
	}
	.nav { 
		position:absolute;
		border:0px;
		top:3%;
		left:27%;
		z-index:31;
    }

	.nav img{
		float:left;
		width:7%;
		height: 62px;
		border:0px;
		margin:0px;
	}
	
	.nav ul li a { 
		padding:10px 0px 10px 15px;
		width:168px; 
		height:50px; 
		text-align:center;
		color:white;
		display:block; 
		border-right:2px solid #c0c0c0;
		background:#FF5A00;
		font-weight: bold;
		font-size: 24px;
	}

	.nav ul li ul { 
		position:absolute;
		left:335px;
		display:none;
	}

	.nav ul li ul li{ 
		float:none;
	}

	.nav ul li ul li a { 
		border-right:none; 
		border-top:1px dotted #333333;
		background:#FF5A00;
    }

	.nav ul li:hover ul{ 
		display:block; 
	}

	.nav ul li a:hover{
		color:white;
		background-color: #00ffda;
	}
	
	#top{
		position: absolute;
		left: 16%;
		width: 100%;
		z-index: 21;
	}
	
	#logo{
		position: absolute;
		left: 18%;
		width: 85px;
		height: 58px;
		top: 10px;
		z-index: 23;
	}
	
	.head1{
		font-family: 楷体;
		color: white;
		font-size: 54px;
		font-weight: bold;
		position: absolute;
		left: 20.4%;
		top: 30%;
		z-index: 26;
	}
	
	.head2{
		color: white;
		font-family: 楷体;
		font-size: 36px;
		font-weight: bold;
		position: absolute;
		left:37%;
		top: 38%;
	}
	
	#head3{
		color: white;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 27px;
		font-weight: bold;
		position: absolute;
		width: 59.2%;
		left: 21%;
		top: 44%;
	}
	
	.subhead{
		position: absolute;
		left: 16%;
		top:73%;
		width: 68%;
		height: 77.5%;
		overflow: hidden;
	}
	
	.subhead span {
		position: relative;
		color: white;
		font-style: italic;
		left: 35%;
		width: 15%;
		top: 36px;
		margin:0px;
		font-size: 18px;
		z-index:27;
	}
		
	#inside-img{
		width:50%;
		height: 50%;
		vertical-align: middle;
		position: absolute;
		left: 25%;
		top:90%;
		z-index: 27;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}
	
	#outside-img {
		width: 100%;
		height: 100%;
		z-index: 27;
		padding: 0px;
		margin: 0px;
	}
	
	#tea {
		width:68%;
		height: 40%;
		position: absolute;
		left: 16%;
		top: 140%;
	}
	
	#tea span {
		position: relative;
		top: 48px;
		left: 24%;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 20px;
		font-weight:bold;
		color: #C8A063;
	}
	
	#tea img{
		width: 100%;
	}
	#kungfu {
		position: absolute;
		width: 35%;
		left: 53%;
		top: 146%;
		z-index: 28;
	}
	
	#beef {
		background-color: #F18C8E;
		position: absolute;
		left: 16%;
		top:193%;
		width:68%;
		height: 72%;
		z-index: 28;
		border-style: bold;
		border-color: red;
		border-width: 3px;
	}
	
	#inside-beef {
		position: relative;
		width:70%;
		height: 90%;
		top: 5%;
		left:15%;
		bottom: 5%;
		z-index: 28;
	}
	
	#infont1 {
		
		position: absolute;width: 34px;
		left: 16%;
		top: 203%;
		text-align:center;
		font-size: 28px;
		font-weight: bold;
		color: white;
		line-height:1.3em;
		z-index: 29;
	}
	
	#infont2 {
		position: absolute;
		width: 28px;
		left: 22%;
		top: 206%;
		text-align: center;
		font-size: 18px;
		font-weight: normal;
		color: white;
		line-height:1.3em;
		z-index: 29;
	}
	
	#beef-left {
		position: absolute;
		left: 19%;
		top: 197%;
		width: 3%;
		z-index: 29;
	}
	
	#beef-up {
		position: absolute;
		left: 33%;
		top: 196%;
		width: 39%;
		z-index: 29;
	}
	
	
	
	#guo {
		position: absolute;
		left: 0%;
		top: 100%;
		width: 100%;
		height: 100%;
		background-color: #F1C7B1;
		z-index: 29;
	}
	
	#inside-guo {
		position: relative;
		top: 5%;
		left: 20%;
		width: 60%;
		height: 90%;
		z-index: 29;
	}
	
	#guoleft1 {
		position: absolute;
		left: 1%;
		top: 104%;
		z-index: 30;
		width:70%;
	}
	
	#guoleft2 {
		position: absolute;
		top: 113%;
		left: 10%;
		width: 80%;
		z-index: 30;
	}
	
	#cookie {
		position: absolute;
		left: 0%;
		top: 200%;
		width: 100%;
		height: 100%;
		background-color: #F0B7A4;
		z-index: 29;
	}
	
	#inside-cookie {
		position: relative;
		top: 5%;
		left: 20%;
		width: 60%;
		height: 90%;
		z-index: 30;
	}
	
	#cookieleft1 {
		position: absolute;
		top: 200%;
		left: 1%;
		width: 80%;
		z-index: 30;
	}
	
	#cookieleft2{
		position: absolute;
		top: 210%;
		left: 10%;
		width: 40%;
		z-index: 30;
	}
	
	#cookieleft3 {
		position: absolute;
		top: 220%;
		left: 15%;
		width: 40%;
		z-index: 30;
	}
		
	#lastbehind {
		position: absolute;
		left: 0%;
		top: 280%;
		width: 100%;
		height: 100%;
		background-color: #FFCCCC;
		z-index: 29;
	}
	
	#lastbehind img {
		position: relative;
		top:0px;
		left: 40%;
	}
	
	#last {
		position: absolute;
		left: 0%;
		top: 295%;
		width: 100%;
		height: 55%;
		background-color: white;
		z-index: 29;
		border:2px thin black;
		border-radius: 15px;
	}
	
	.inframe {
		width: 20%;
		height: auto;
		float: left;
		margin: 2.5% 1.5% 3% 3%;
		border: 0px ;
	}
	
	.inframe:hover {
		 border: 1px solid #777;
	}
	
	#last img {
		width:100%;
		height: 225px;
		float: left;
		padding:2px;
		text-align: center;
	}
	
	#introduction {
		padding: 12px;
		text-align: center;
	}
	
	#end {
		width: 148%;
		height: 20%;
		position: absolute;
		top: 360%;
		left: -24%;
		background: #333333;
		z-index: 31;
	}
	
	
	
		
	
	
	
	
	
	
	
	
	
	